# Core Django
Django==4.2.24
asgiref==3.9.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2

# Build Support for Python Packages
wheel

# Admin & Rich Text
django-ckeditor==6.7.3

# CORS & JS
django-cors-headers==4.7.0
django-js-asset==2.2.0

# Storage & Static
whitenoise==6.9.0
django-storages==1.14.4

# Image handling
Pillow==11.3.0

# Database
psycopg2-binary==2.9.10

# Environment variables
python-dotenv==1.1.1

# Supabase client
supabase==2.4.0

# Production WSGI server
gunicorn

# Database URL parser
dj-database-url==1.1.0
