{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Link of CSS files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollcue.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>

   <!--  Preloader Start -->
    <div class="preloader-area" id="preloader">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!--  Preloader End -->

    <!-- Theme Switcher Start -->
    <div class="switch-theme-mode">
        <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round"></span>
        </label>
    </div>
    <!-- Theme Switcher End -->

    <!-- Custom Cursor -->
    <!-- <div class="cursor"><span class="cursor-text"></span></div>
    <div class="cursor-inner"></div> -->

    <div id="smooth-wrapper">
        <div id="smooth-content">

            <!-- Top Navbar Start-->
            <div class="navbar-top style-one bg-title">
                <div class="container style-one">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 text-lg-start text-center mb-lg-0 mb-2">
                            <p class="position-relative text-white d-inline-block text-lg-start text-center fs-15 mb-0"><img src="{% static 'img/icons/clock-pink.svg' %}" alt="Icon">Monday To Friday : 10.00 AM – 5.00 PM</p>
                        </div>
                        <div class="col-xl-4 col-lg-4 text-center ps-xxl-5 mb-lg-0 mb-2">
                            <p class="position-relative text-white d-inline-block fs-15 mb-0 ms-xxl-5"><img src="{% static 'img/icons/delivery-truck.svg' %}" alt="Icon">Free Delivery For Orders Above $100!</p>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-12 mb-lg-0 mb-1">
                            <div class="social-share d-flex flex-wrap align-items-center justify-content-lg-end justify-content-center">
                                <span class="fs-15 text-white">Follow Us:</span>
                                <ul class="social-profile style-six list-unstyled mb-0">
                                    <li><a href="https://www.facebook.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle"><i class="ri-facebook-fill"></i></a></li>
                                    <li><a href="https://x.com/?lang=en" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle"><i class="ri-twitter-x-line"></i></a></li>
                                    <li><a href="https://www.instagram.com/amra_decoration/" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="https://www.linkedin.com/" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle"><i class="ri-linkedin-fill"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Navbar End-->

            <!-- Navbar Start -->
            <div class="navbar-area style-one position-relative" id="navbar">
                <div class="container style-one">
                    <div class="navbar-wrapper d-flex justify-content-between align-items-center">
                        <a href="{% url 'home' %}" class="navbar-brand">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-light" width="300">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-dark" width="300">
                        </a>
                        <div class="menu-area me-auto">
                            <div class="overlay"></div>
                            <nav class="menu">
                                <div class="menu-mobile-header">
                                    <div class="ps-4">
                                        <a href="{% url 'home' %}" class="navbar-brand">
                                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-light" width="250">
                                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-dark" width="250">
                                        </a>
                                    </div>
                                    <div class="mobile-menu-category">
                                        <button type="button" class="menu-mobile-arrow bg-transparent border-0"><i class="ri-arrow-left-s-line"></i></button>
                                        <div class="menu-mobile-title"></div>
                                    </div>
                                    <button type="button" class="menu-mobile-close bg-transparent border-0"><i class="ri-close-line"></i></button>
                                </div>
                                <ul class="menu-section p-0 mb-0 lh-1">
                                    {% for category in categories %}
                                        {% if category.menu and category.parent == None %}
                                            {% include "categories_menu.html" with item=category %}
                                        {% endif %}
                                    {% endfor %}
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="other-options d-flex flex-wrap align-items-center justify-content-end">
                            <div class="option-item d-lg-none">
                                <button type="button" class="menu-mobile-trigger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar End -->

            {% block content %}
            <!-- Your page-specific content goes here -->
            {% endblock %}

            <!-- Footer Section Start -->
            <footer class="footer-area style-one position-relative z-1">
                <!-- <img src="{% static 'img/footer-dot-shape.png' %}" alt="Shape" class="footer-dots position-absolute top-0 start-0 w-100 h-100 z-n1">
                <img src="{% static 'img/top-zigzag-shape.svg' %}" alt="Shape" class="footer-top-shape position-absolute top-0 start-0 w-100 z-n1">
                <div class="footer-top position-relative z-1">
                    <div class="container style-one">
                        <h2 class="section-title style-one fw-normal text-title text-center mb-45">Follow Us On Instagram</h2>
                    </div>
                    <div class="insta-slider-three swiper pb-120">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-15.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-16.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-17.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-18.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-19.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-20.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-21.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-22.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-15.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-16.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-17.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-18.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="https://www.instagram.com/amra_decoration/" target="_blank" class="insta-card style-two position-relative round-20">
                                    <img src="{% static 'img/instagram/insta-19.jpg' %}" alt="Image" class="round-20">
                                    <span class="bg_primary d-flex flex-column align-items-center justify-content-center rounded-circle position-absolute transition"><i class="ri-instagram-line"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="footer-bottom position-relative bg-title z-1">
                    <div class="container style-one">
                        <div class="row">
                            <div class="col-md-7">
                                 <p class="copyright-text text-white text-md-start text-center mb-0"><i class="ri-copyright-line"></i><span class="text-white fw-medium">Amra Decorations</span> | Made with <i class="ri-heart-2-fill"></i> by <span class="text-white fw-medium">Siddiq</span></p>
                            </div>
                            <div class="col-md-5">
                                <ul class="footer-bottom-menu list-unstyled text-lg-end text-center mb-0">
                                    <li><a href="javascript:;">Privacy Policy</a></li>
                                    <li><a href="javascript:;">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->

        </div>
    </div>
    <!-- WhatsApp -->
    <a href="https://wa.me/919840089135" class="whatsapp-chat"><img src="{% static 'img/WhatsApp.webp' %}"  /></a>

    <!-- Back to Top -->
    <div id="progress-wrap" class="progress-wrap style-one">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path id="progress-path" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>

    <!-- Link of JS files -->
    <!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/megamenu.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/fslightbox.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/scrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/lenis.min.js' %}"></script>
    <script src="{% static 'js/scrollToPlugin.js' %}"></script>
    <script src="{% static 'js/SplitText.min.js' %}"></script>
    <script src="{% static 'js/customEase.js' %}"></script>
    <script src="{% static 'js/scrollcue.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        let slideIndex = 1;
        let autoplay;

        function startAutoplay() {
            // ✅ Autoplay every 5 seconds
            // autoplay = setInterval(() => {
            //     plusSlides(1);
            // }, 5000);
        }
        
        function stopAutoplay() {
            clearInterval(autoplay);
        }

        function resetAutoplay() {
            stopAutoplay();
            startAutoplay();
        }

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
            resetAutoplay();
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("single-slide");
            let dots = document.getElementsByClassName("dot");

            if (slides.length === 0) return; // no slides, exit
            if (dots.length === 0) return;   // no dots, exit

            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "flex";  
            dots[slideIndex-1].className += " active";
        }

        showSlides(slideIndex);
        startAutoplay();

        document.addEventListener("DOMContentLoaded", function () {
            const whatsappChat = document.querySelector(".whatsapp-chat");
            const icons = document.querySelectorAll(".menu-section a i");

            // Show the WhatsApp button after 2 seconds
            setTimeout(() => {
                if (whatsappChat) {
                    whatsappChat.style.visibility = "visible"; // Make the button visible
                    whatsappChat.style.transform = "translateY(0)"; // Move the button into its final position
                }
            }, 2000);

            // Select all <i> inside <a> within .menu-section
            // icons.forEach(function(icon) {
            //     icon.addEventListener("click", function(e) {
            //         e.preventDefault();   // prevent the link navigation
            //         e.stopPropagation();  // stop bubbling

            //         const parentLi = this.closest("li");
            //         if (!parentLi) return;

            //         // Find the submenu inside this <li>
            //         const currentUl = parentLi.querySelector(".menu-subs");
            //         const mobileMenuHeader = document.querySelector(".menu-mobile-header");
            //         if (currentUl) {
            //             parentLi.classList.toggle("active");   // toggle active on li
            //             currentUl.classList.toggle("active");  // toggle submenu visibility
            //             mobileMenuHeader.classList.toggle("active");  // toggle submenu visibility
            //         }
            //     });
            // });
        });
    </script>

</body>
</html>