{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
			<!-- Breadcrumb Section Start -->
            <div class="breadcrumb-area position-relative z-1">
                <div class="container style-one text-center">
                    <div class="row align-items-center">
                        <div class="col-xxl-12 col-lg-12 col-md-12 mb-sm-10">
                            <h2 class="br-title fw-normal mb-12">Contact</h2>
                            <ul class="br-menu list-unstyled mb-0">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb Section End -->

            <!-- Contact Section Start -->
            <div class="container style-one ptb-120">
                <div class="contact-card-wrap style-one d-flex flex-wrap align-items-center justify-content-center round-20">
                    <div class="contact-card style-one d-flex flex-wrap align-items-center mb-30">
                        <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg_secondary"><img src="{% static 'img/icons/phone-white-large.svg' %}" alt="Icon"></div>
                        <div class="contact-info">
                            <h3 class="fs-22 fw-normal">Phone</h3>
                            {% if settings %}
                            {% if settings.phone1 %}<a href="tel:{{ settings.phone1|cut:' ' }}" class="text-para d-block">{{ settings.phone1 }}</a>{% endif %}
                            {% if settings.phone2 %}<a href="tel:{{ settings.phone2|cut:' ' }}" class="text-para d-block">{{ settings.phone2 }}</a>{% endif %}
                            {% if settings.phone3 %}<a href="tel:{{ settings.phone3|cut:' ' }}" class="text-para d-block">{{ settings.phone3 }}</a>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="contact-card style-one d-flex flex-wrap align-items-center mb-30">
                        <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg_secondary"><img src="{% static 'img/icons/mail-large-white.svg' %}" alt="Icon"></div>
                        <div class="contact-info">
                            <h3 class="fs-22 fw-normal">Email Address</h3>
                            {% if settings %}
                            {% if settings.email1 %}<a href="mailto:{{settings.email1}}" class="text-para d-block">{{settings.email1}}</a>{% endif %}
                            {% if settings.email2 %}<a href="mailto:{{settings.email2}}" class="text-para d-block">{{settings.email2}}</a>{% endif %}
                            {% if settings.email3 %}<a href="mailto:{{settings.email3}}" class="text-para d-block">{{settings.email3}}</a>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="contact-card style-one d-flex flex-wrap align-items-center mb-30">
                        <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg_secondary"><img src="{% static 'img/icons/pin-large-white.svg' %}" alt="Icon"></div>
                        <div class="contact-info">
                            <h3 class="fs-22 fw-normal">Our Location</h3>
                            {% if settings and settings.address %}<p class="mb-0">{{ settings.address }}</p>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="pt-120 pb-90">
                    <h6 class="section-subtitle fs-20 fw-light text_primary text-center mb-8">Get In Touch</h6>
                    <h2 class="section-title style-one fw-normal text-title text-center mb-45">Don't Hesitate To Contact Us</h2>
                    <div class="row">
                        <div class="col-lg-6 mb-30">
                            <form action="#" class="comment-form-wrap style-one round-20" id="cmt-form">
                                <div class="row gx-xl-3">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative mb-25">
                                            <input type="text" class="w-100 ht-60 bg-ash text-para border-0 outline-0 round-10" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-25">
                                            <input type="email" class="w-100 ht-60 bg-ash text-para border-0 outline-0 round-10" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative mb-25">
                                            <input type="number" class="w-100 ht-60 bg-ash text-para border-0 outline-0 round-10" placeholder="Phone" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative mb-25">
                                            <input type="text" class="w-100 ht-60 bg-ash text-para border-0 outline-0 round-10" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb-25">
                                            <textarea name="messages" id="messages" cols="30" rows="10" placeholder="Comment"  class="w-100 ht-206 bg-ash text-para border-0 outline-0 round-10 resize-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check checkbox style-one mb-20">
                                            <input class="form-check-input" type="checkbox" id="test_2"
                                            >
                                                <label class="form-check-label" for="test_2">
                                                    I agree with the <a href="#" class="text_secondary link-hover-primary">Terms & Conditions</a> & <a href="#" class="text_secondary link-hover-primary">Privacy Policy</a>
                                                </label>
                                            </div>
                                        <div class="col-xl-5 col-md-6">
                                            <button type="submit" class="btn style-two position-relative z-1 round-10">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 mb-30">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.1644489309306!2d80.28251569999999!3d13.0887622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526f91565c585f%3A0x3c4b6218808a98f5!2sAmra%20Decorations!5e0!3m2!1sen!2sin!4v1757152344286!5m2!1sen!2sin" width="100%" height="580" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Section End -->
{% endblock %}