{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
			<!-- Hero Section Start -->
            <div class="slideshow-container">
                {% for slide in banner.slides.all %}
                {% if slide.slide_type == 'image' and slide.image %}
                <div class="single-slide">
                    <div class="image-container">
                        {% if slide.link %}
                            <a href="{{ slide.link }}">
                                <img src="{{ slide.image.url }}" alt="Full Image Slide" class="" data-cue="slideInUp">
                            </a>
                        {% else %}
                            <img src="{{ slide.image.url }}" alt="Full Image Slide" class="" data-cue="slideInUp">
                        {% endif %}
                    </div>
                </div>
                {% elif slide.slide_type == 'video' and slide.video %}
                <div class="single-slide">
                    <div class="video-container position-relative w-100" style="padding-top: 56.25%;" data-cue="fadeIn">
                        <video 
                            class="position-absolute top-0 start-0 w-100 h-100"
                            autoplay
                            muted
                            loop
                            playsinline
                        >
                            <source src="{{ slide.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                {% elif slide.slide_type == 'default' %}
                <div class="single-slide">
                    <div class="row align-items-center pe-5 ps-5">
                        <div class="col-xl-8 col-lg-8 col-12 pe-xxl-5">
                            <div class="hero-content mb-lg-30">
                                <h6 class="section-subtile fs-xxl-20 fw-light text_primary mb-6">{{ slide.subtitle }}</h6>
                                <h1>{{ slide.title }}</h1>
                                <p class="fs-xxl-18 pe-xxl-5 d-none d-md-block">{{ slide.description }}</p>
                                {% if slide.link %}
                                    <div class="btn-wrap d-flex flex-wrap align-items-center">
                                        <a href="{{ slide.link }}" class="btn style-two position-relative z-1 round-10">{{ slide.button_text }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-sm-30 d-none d-md-block">
                            <div class="hero-img-wrap position-relative">
                                <img src="{{ slide.image.url }}" alt="Image" class="d-block mx-auto" data-cue="slideInUp">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="slideshow-pagination">
                {% for slide in banner.slides.all %}
                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
                {% endfor %}
            </div>
            <!-- Hero Section End -->
            
            <div class="pb-120"></div>

            <!-- Product Section Start -->
            <section class="product-area position-relative z-1">
                <div style="
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('{% static 'img/christmas-tree-bg.png' %}');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: rotate(180deg);
                    z-index: -1;">
                </div>
                {% if all_products %}
                <div class="container style-one pb-120">
                    <h2 class="section-title style-one fw-normal text-title text-center mb-45">New Arrivals</h2>
                    <div class="product-slider-one swiper">
                        <div class="swiper-wrapper">
                            {% for product in all_products|slice:":10" %}
                            <div class="swiper-slide">
                            {% include 'components/product.html' with product=product %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="product-pagination slider-pagination style-one mt-0"></div>
                    </div>
                    <div class="col-xl-12 text-center mt-4">
                        <a href="{% url 'products' %}" class="btn style-two position-relative z-1 round-10">View All</a>
                    </div>
                </div>
                {% endif %}
            </section>
            <!-- Product Section End -->

            <!-- Featured Product Start -->
            <!-- <section class="featured-product-area pt-90 pb-90">
                <div class="container style-one">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="featured-product style-one bg-1 position-relative z-1 d-flex flex-wrap align-items-center round-30 mb-30">
                                <div class="featured-product-info">
                                    <h6 class="font-primary fw-medium fs-16 text_primary mb-8">Delicious</h6>
                                    <h3 class="text-title fw-normal">Super Sale</h3>
                                    <p class="fs-xxl-18 mb-35">Smooth & creamy texture low in calories</p>
                                    <a href="{% url 'products' %}" class="btn style-two position-relative z-1 round-10">Order Now</a>
                                </div>
                                <div class="featured-product-img position-relative z-1">
                                    <img src="{% static 'img/products/cake/featured-product-1.png' %}" alt="Image" class="position-relative transition">
                                </div>
                                <img src="{% static 'img/products/shape-1.png' %}" alt="Shape" class="featured-shape position-absolute z-n1">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="featured-product style-one bg-2 position-relative z-1 d-flex flex-wrap align-items-center round-30 mb-30">
                                <div class="featured-product-info">
                                    <h6 class="font-primary fw-medum fs-16 text_primary mb-1">Free Delivery</h6>
                                    <h3 class="text-title fw-normal">Order Now</h3>
                                    <p class="fs-xxl-18 mb-30">Find your favorite flavors at a cake Shop </p>
                                    <a href="{% url 'products' %}" class="btn style-two position-relative z-1 round-10">Order Now</a>
                                </div>
                                <div class="featured-product-img position-relative z-1">
                                    <img src="{% static 'img/products/cake/featured-product-2.png' %}" alt="Image" class="position-relative transition">
                                </div>
                                <img src="{% static 'img/products/shape-2.png' %}" alt="Shape" class="featured-shape position-absolute z-n1">
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- Featured Product End -->
            
            <!-- Product Section Start -->
            {% for category in categories %}
            {% if category.ordered_products and category.parent == None %}
            <section class="product-area position-relative z-1 pt-120">
                <div style="
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('{% static 'img/christmas-tree-bg.png' %}');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: rotate(180deg);
                    z-index: -1;">
                </div>
                <div class="container style-one pb-120">
                    <h2 class="section-title style-one fw-normal text-title text-center mb-45">{{ category.name }}</h2>
                    <div class="product-slider-one swiper">
                        <div class="swiper-wrapper">
                            {% for product in category.ordered_products|slice:":10" %}
                            <div class="swiper-slide">
                            {% include 'components/product.html' with product=product %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="product-pagination slider-pagination style-one mt-0"></div>
                    </div>
                    <div class="col-xl-12 text-center mt-4">
                        <a href="{% url 'products' category.slug %}" class="btn style-two position-relative z-1 round-10">
                            View All
                        </a>
                    </div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
            <!-- Product Section End -->

            {% if testimonials %}
            <!-- Testimonial Section Start -->
            <div class="testimonial-area style-three bg-black ptb-120">
                <div class="container style-one">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5">
                           <div class="testimonial-content pe-xxl-5 mb-md-30">
                                <h2 class="section-title style-one fw-normal text-white mb-15 pe-xxl-5">Genuine Feedback From Clients</h2>
                                <p class="text-offwhite mb-40 pe-xl-5">From charming keepsakes and handcrafted items to playful novelties
                                and seasonal surprises each piece is chosen with care to bring</p>
                                <!-- <div class="btn-wrap d-flex flex-wrap">
                                    <div class="client-lists-wrap d-flex flex-wrap align-items-center ms-1 mb-lg-10">
                                        <ul class="client-list list-unstyled mb-0">
                                            <li class="rounded-circle"><img src="{% static 'img/clients/client-3.jpg' %}" alt="Image" class="rounded-circle"></li>
                                            <li class="rounded-circle"><img src="{% static 'img/clients/client-4.jpg' %}" alt="Image" class="rounded-circle"></li>
                                        </ul>
                                        <div class="ms-xxl-3">
                                            <img src="{% static 'img/clients/trust-logo.png' %}" alt="Logo">
                                            <span class="d-block text-white mt-1">8k+ clients reviews</span>
                                        </div>
                                    </div>
                                </div> -->
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="testimonial-slider-three swiper position-relative">
                                <div class="swiper-wrapper">
                                    {% for review in reviews %}
                                    <div class="swiper-slide">
                                        <div class="testimonial-card style-three bg-white d-flex flex-wrap round-20">
                                            <div class="client-quote-wrap">
                                                <p class="fs-xxl-18">"{{ review.content }}”</p>
                                                <ul class="rating list-unstyled lh-1">
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                </ul>
                                                <div class="client-info-wrap d-flex flex-wrap align-items-center justify-content-between pe-xxl-4">
                                                    <div class="client-info">
                                                        <h5 class="fs-22 mb-6">{{ review.name }}</h5>
                                                        <span>{{ review.profession }}</span>
                                                    </div>
                                                    <img src="{% static 'img/icons/quote-line-2.svg' %}" alt="Icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="slider-btn style-two">
                                    <button class="prev-btn testimonial-prev d-flex flex-column align-items-center justify-content-center rounded-circle border-0"><i class="ri-arrow-left-line"></i></button>
                                    <button class="next-btn testimonial-next d-flex flex-column align-items-center justify-content-center rounded-circle border-0"><i class="ri-arrow-right-line"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial Section End -->
             {% endif %}
{% endblock %}